.btn_ {
    padding: 0;
    width: 227px;
    height: 51px;
    line-height: 35px;
    border-radius: 26px;
    font-size:15px;
    font-family:Microsoft YaHei UI;
    font-weight:bold;
    border: 1px solid #fff;
    cursor: pointer;
  }
  .btn_default_ {
    color:rgba(41,103,193,1);
    background: #fff;
  }
  .btn_plain_ {
    color: #fff;
    background: transparent;
    &.btn_login_ {
      width:117px;
      height:36px;
      border-radius: 0;
    }
  }
  .w1024 {
    width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
  }
  .fr_ {
    float: right;
  }
  .home_header_ {
    .center_ {
      width:478px;
      margin: 95px auto 60px;
      .title_ {
        font-size:59px;
        font-weight:bold;
        color:rgba(255,255,255,1);
        padding-bottom: 26px;
        border-bottom:1px solid rgba(255,255,255,1)
      }
      .desc_ {
        margin-top: 23px;
        margin-bottom: 76px;
        color: #fff;
        font-size:19px;
        font-weight:bold;
        color:rgba(255,255,255,1);
        font-family:PingFangSC-Light;
        text-align: center;
      }
      .btn_wrap_ {
        font-size:15px;
        font-family:Microsoft YaHei UI;
        font-weight:bold;
        color:rgba(41,103,193,1);
      }
    }
  }
  .options_select_ {
    line-height: 30px;
    label {
        margin-left: 21px;
        font-size:13px;
        // font-family:Source Han Sans CN;
        font-weight:300;
        color:rgba(51,51,51,1);
        line-height:26px;
        &.active_ {
            color: #297FFF;
        }
    }
  }
  .mrg_b22 {
    margin-bottom: 22px;
  }
  .mrg_l29 {
    margin-left: 29px;
  }
  .mrg_l10 {
    margin-left: 10px;
  }
  .ant-card {
    font-family: "PingFangSC-Regular", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI";
    &::nth-child(2) {
      margin-top: 20px;
    }
  }
  .w160 {
    width: 160px;
  }
  .bgf_ {
    background: #fff;
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

